%a{:href=> home_about_us_path}
  .footer_ico{:style=>"text-align:center; width:960px;"}
    %dl.footer_fore1
      %dt
        %img{:src=>asset_path("test/foot_icon_pic_r2_c2_s1.jpg")}
      %h1 正规渠道
      %h2 精选车行，渠道可靠
    %dl.footer_fore1
      %dt
        %img{:src=>asset_path("test/foot_icon_pic_r2_c4_s1.jpg")}
      %h1 正牌产品
      %h2 授权经销，正品保证
    %dl.footer_fore1
      %dt
        %img{:src=>asset_path("test/foot_icon_pic_r2_c6_s1.jpg")}
      %h1 规范服务
      %h2 熟练技工，规范操作
    %dl.footer_fore1
      %dt
        %img{:src=>asset_path("test/foot_icon_pic_r2_c8_s1.jpg")}
      %h1 透明价格
      %h2 明码实价，明白养车
    %dl.footer_fore1
      %dt
        %img{:src=>asset_path("test/foot_icon_pic_r2_c10_s1.jpg")}
      %h1 售后保障
      %h2 实体车行，售后无忧

