.shop_class.category_shop_class.left
  .shop_classbox2
    %a{:href=> home_card_path, :height=>"45"}
      %img{:src=>asset_path("test/shangcheng.png") , :width=>"206", :height=>"45", :border=>"0"}
    %h1.shop_stornav2
      #accordion_homepage{:border=>"1px",:style=>"margin-top:-10px;"}
        -@first_class.each do |f|
          %h3.accordion_head{:style=>"margin-top:0px;"}
            .shop_stor2
              %b
                =f.name
          .stornav2_li.accordion_list.shop_stornav2
            .second_class_area
              -@second_class.each do |s|
                -if s.parent_code == f.code
                  =link_to s.name,home_search_path(:search_key=>s.id,:search_type=>"4",:submit=>"") , :class=>"second_class_link_cate"


  :javascript
      $(".second_class_link_cate").click(function(){
        $(".second_class_link_cate").css("background-color","");
        $(".second_class_link_cate").css("color","");
        $(this).css("background-color","#2e99c7");
        $(this).css("color","white");
        $(this).css("font","bold");
      });
