.footer
  %h3.m
    %span.Ink | &nbsp;&nbsp;
    -get_footer_info.each_with_index do |i,index|
      =link_to i.title,home_about_us_path( :id=>index)
      &nbsp;&nbsp;
      %span.Ink | &nbsp;&nbsp;
  %h5 西安车尚网络科技有限公司 Copyright ©2014 Ixiangche.com All Rights Reserved 陕ICP证13007579号  客服电话：029-81543924
