.footer
  %h3.m
    %span.Ink | &nbsp;&nbsp;
    -get_footer_info.each_with_index do |i,index|
      =link_to i.title,home_about_us_path( :id=>index)
      &nbsp;&nbsp;
    %span.Ink | &nbsp;&nbsp;
  %h4.m 西安市公安局备案编号110321321
  %h5 西安享车网信息技术有限公司 Copyright ©2014 Ixiangche.com All Rights Reserved 陕ICP证090216号 陕公网安备23232356565 客服电话：400-810-400
