.categroy_hottui
  %h3
    %b 热门产品推荐
  .categroy_hottui_con
    -@good_hot_rec1.each do |h|
      .categroy_hottui_list.left
        %h5.left
          %a{:href=> h.text2}
            %img{:src=>h.img_url,:width=>"100", :height=>"115"}
        %h4.left
          %div
            %a{:href=> h.text2}
              =h.title
          %s
            ￥
            =h.text4
          %a#categroy_menu 加入购物车
