#ajax_category_product
  .class_rule_number
    .class_rule_chose.left{:style=>"padding-left:25px;"}
      %h4.choseon.left
        =link_to "全部",{ :action=>"research_goods_by_category", :remote=>true, :key=>@key, :id=>@category_id, :order_flag=>1,:first_show=>@first_show }, :class=>"second_class_link"
      %h4.left
        =link_to "销量",{ :action=>"research_goods_by_category", :remote=>true, :key=>@key, :id=>@category_id, :order_flag=>2,:first_show=>@first_show }, :class=>"second_class_link"
      %h4.left
        =link_to "价格↑",{ :action=>"research_goods_by_category", :remote=>true, :key=>@key, :id=>@category_id, :order_flag=>3 ,:first_show=>@first_show}, :class=>"second_class_link"
      %h4.left
        =link_to "价格↓",{ :action=>"research_goods_by_category", :remote=>true, :key=>@key, :id=>@category_id, :order_flag=>4,:first_show=>@first_show }, :class=>"second_class_link"
  .class_rule_retrieval
    %h3.left
      检索出
      %b.Red
        =@goods.count
      个符合您需求的商品
    %h3.right{:style=>"margin-right:10px;"}
      = paginate @key_goods
  .category_product
    -@key_goods.each do |g|
      .main_products_li.left{:style=>"background-image: url('"+asset_path("test/76C28745.gif")+"');"}
        .p_img
          %a{:href=>good_path(g)}
            =image_tag( g.logo_url1, height:"175", width:"175", style:"height:175px;")
        .p_title{:style=>"height:34px; overflow:hidden;"}
          %a{:href=>good_path(g)}
            =g.title
          %br
          %a
            =g.mall_category.name
        .p_price
          %span{:style=>"font-size:20px;"} ￥
          %b
            =g.mall_skus.first.customer_price
          .right_price.right{:style=>"color:#A2A2A2; font-size:14px;"}
            %span 原价：￥
            %i{:style=>"text-decoration:line-through;"}
              =g.mall_skus.first.show_price
        .p_vendor{:style=>"margin-top:14px;"}
          %span{:style=>"font-size:10px;"}
            %a{:href=> vendor_path(g.vendor) }
              =g.vendor.name
  .class_rule_retrieval.left{:style=>"width:100%;"}
    %h3.left
      检索出
      %b.Red
        =@goods.count
      个符合您需求的商品
      %h3.right{:style=>"margin-right:10px;"}
        = paginate @key_goods
