.header
  .header_Box.m
    %a{:href=> root_path}
      %p.logo.left{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
    .search.left
      %h3
        %span#search_service.s_down{:style=>" cursor:pointer"} 搜服务
        %span#search_vendor{:style=>" cursor:pointer"} 搜车行
      .search_into{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
        %form{:action=>"/home/search"}
          .search_l.left
            %input.w1( name="search_key" type="text" placeholder="请输入您所想搜索的内容" )
            %input#search_type{:type=>"hidden", :name=>"search_type", :value=>1}
          .search_r.left
            %input.s1{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');", :name=>"submit", :type=>"submit",:value=>""}
    %h3.shop_car.left
      %a#shop_car{ :href=> customers_shopping_car_path(current_customer.id) ,:target=>"_blank", :title=>"进入购物车进行结算",:style=>" background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
        %s{:style=>"  background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
          12

  :javascript
    $("#search_vendor").click(function(){
      $("#search_service").removeClass("s_down");
      $("#search_vendor").addClass("s_down");
      $("#search_type").val("2");
    });

    $("#search_service").click(function(){
      $("#search_vendor").removeClass("s_down");
      $("#search_service").addClass("s_down");
      $("#search_type").val("1");
    });

    $(document).ready(function(){

      if(#{get_search_flag}){
        flag=#{get_search_flag};
      }else{
        flag=0;
      }
      if(flag==2){
        $("#search_service").removeClass("s_down");
        $("#search_vendor").addClass("s_down");
      }else{
        $("#search_service").addClass("s_down");
      }
      $(".w1").val("#{@key}");
    })
