.IndexContentMain{:style=>"height:320px; overflow:hidden;width:550px;"}
  .indexBanner{:style=>"margin-top:5px; margin-left:5px;"}
    #indexBannerdatouwang.datouwang
      %ul.imgList{:style=>" position: absolute;left:0px;"}
        -@homepage_sliders.each do |slider|
          %li
            %a{:href=>"#{slider.text2}"}
              %img{:src=> "#{slider.img_url}" ,:alt=>'pic'}
      #btnList.btnList
        .BtnimgList
          -@homepage_sliders.each do |slider|
            %a{:href=>"javascript:void(0);"}
              %img.thumb_pic{:src=> "#{slider.img_url}" ,:alt=>'pic'}


:javascript
  function init_slider(){
    $(".BtnimgList").mouseover();
    $(".BtnimgList").mouseout();
  }

  setTimeout("init_slider()",1000);

  $(function() {
    $(".BtnimgList").mouseover();
    //$(".thumb_pic").mouseout();

    var maxShowedBanner = 1, currentBanner = 1,
        maxBannerNum = 7, datouwang = $(".indexBanner"),
        bsObj, bannerShelf, replaceStart = false, replaced = false;

    $(function () {
        datouwang.bannerSlider({
            arrow:true,
            bannerHover:function () {
                maxShowedBanner = maxBannerNum;
            },
            beforeSlideTo : function (bannerIndex) {
                currentBanner = bannerIndex;
                maxShowedBanner = currentBanner > maxShowedBanner ? currentBanner : maxShowedBanner;
                if (replaceStart || maxShowedBanner >= maxBannerNum || bannerShelf !== "hot") {
                    return;
                }
                datouwang.trigger("cust:replace");
            }
        });
        bsObj = datouwang.data("bannerSlider");
    });
    }());

