.part_carli
  .home_rec_recommend{:style=>" background-image: url( '"+asset_path("test/home_rec_recommend_r4_c4_s1.jpg")+"');"}
    .home_rec_recommend_inside
      %h1
        %img{:src=> asset_path("test/home_rec_recommend_r2_c2_s1.jpg"), :width=>"160px", :height=>"200px"}
      %h2
        %strong 推荐理由：
        专业、贴心、全店正品保证
      %h3
        座落于东二环矿山路海璟印象城1层，主要定位于中高端车的保养和服务，为您的爱车提供最完美的服务。让车主超额放心，为爱车所
      %h4
        %a.Orange 详细
  .home_rec_recommend{:style=>" background-image: url( '"+asset_path("test/home_rec_recommend_r4_c4_s1.jpg")+"');"}
    .home_rec_recommend_inside
      %h1
        %img{:src=> asset_path("test/home_rec_recommend_r2_c5_s1.jpg"), :width=>"160px", :height=>"200px"}
      %h2
        %strong 推荐理由：
        专业、贴心、全店正品保证
      %h3
        座落于东二环矿山路海璟印象城1层，主要定位于中高端车的保养和服务，为您的爱车提供最完美的服务。让车主超额放心，为爱车所
      %h4
        %a.Orange 详细
  .home_rec_recommend2{:style=>" background-image: url( '"+asset_path("test/home_rec_recommend_r4_c8_s1.jpg")+"');"}
    .home_rec_recommend_inside
      %h1
        %img{:src=> asset_path("test/home_rec_recommend_r2_c2_s1.jpg"), :width=>"160px", :height=>"200px"}
      %h2
        %strong 推荐理由：
        专业、贴心、全店正品保证
      %h3
        座落于东二环矿山路海璟印象城1层，主要定位于中高端车的保养和服务，为您的爱车提供最完美的服务。让车主超额放心，为爱车所
      %h4
        %a.Orange 详细
  .home_rec_recommend2{:style=>" background-image: url( '"+asset_path("test/home_rec_recommend_r4_c8_s1.jpg")+"');"}
    .home_rec_recommend_inside
      %h1
        %img{:src=> asset_path("test/home_rec_recommend_r2_c5_s1.jpg"), :width=>"160px", :height=>"200px"}
      %h2
        %strong 推荐理由：
        专业、贴心、全店正品保证
      %h3
        座落于东二环矿山路海璟印象城1层，主要定位于中高端车的保养和服务，为您的爱车提供最完美的服务。让车主超额放心，为爱车所
      %h4
        %a.Orange 详细
  .home_rec_recommend2{:style=>" background-image: url( '"+asset_path("test/home_rec_recommend_r4_c8_s1.jpg")+"');"}
    .home_rec_recommend_inside
      %h1
        %img{:src=> asset_path("test/home_rec_recommend_r2_c2_s1.jpg"), :width=>"160px", :height=>"200px"}
      %h2
        %strong 推荐理由：
        专业、贴心、全店正品保证
      %h3
        座落于东二环矿山路海璟印象城1层，主要定位于中高端车的保养和服务，为您的爱车提供最完美的服务。让车主超额放心，为爱车所
      %h4
        %a.Orange 详细





