.part_03list{:style=>"margin-top:-40px;"}
  %ul.part_list
    -@hot_rec_goods.each do |n|
      %li{:style=>"margin-top:45px; margin-left:5px;"}
        .p_img{:style=>" height:170px"}
          %a{:href=> n.text2}
            %img{ :src=>n.img_url, :border=>"0" ,:alt=>'pic', :style=>"width:168px; height:168px; border: 1px solid #F3F3F3;"}
        .p_title{:style=>" height:31px; overflow:hidden;margin-top:10px;"}
          %a{:href=> n.text2 }
            =n.title
        .p_price
          %span ￥
          %b
            =n.text4
      %li{:style=>"margin-top:45px; margin-left:5px;"}
        .p_img{:style=>" height:170px"}
          %a{:href=> n.text2}
            %img{ :src=>n.img_url, :border=>"0" ,:alt=>'pic', :style=>"width:168px; height:168px; border: 1px solid #F3F3F3;"}
        .p_title{:style=>" height:31px; overflow:hidden;margin-top:10px;"}
          %a{:href=> n.text2 }
            =n.title
        .p_price
          %span ￥
          %b
            =n.text4
