.part_03list
  %ul.part_list
    -@new_rec_goods.each do |n|
      %li
        .p_img
          %a{:href=> n.text2}
            %img{ :src=>n.img_url, :border=>"0" ,:alt=>'pic', :style=>"width:175px; heigth:175px;" }
        .p_title
          %a{:href=> n.text2}
            =n.title
        .p_price{:style=>"margin-top:10px;"}
          %span ￥
          %b
            =n.text4
      %li
        .p_img
          %a{:href=> n.text2}
            %img{ :src=>n.img_url, :border=>"0" ,:alt=>'pic', :style=>"width:175px; heigth:175px;" }
        .p_title
          %a{:href=> n.text2}
            =n.title
        .p_price{:style=>"margin-top:10px;"}
          %span ￥
          %b
            =n.text4
