.nav
  .nav_box.m
    %h3.nav_class.left
      %b
        %a.Bai{:href=> home_search_path} 全部分类
    .nav_menu.left
      %ul
        %li.nav_down
          %a.Bai{:href=> root_path} 首页
        %li
          %a.Bai{:href=> vendors_path} 车行
        %li
          %a.Bai{:href=> home_card_path} 汽车养护卡
        %li
          %a.Bai{:href=> '#'} 车管家
        %li
          %a.Bai{:href=> '#'} 服务地图
        %li
          %a.Bai{:href=> '#'} 会员权益
