.nav
  .nav_box.m
    %h3.nav_class.left
      %b
        %a.Bai 全部分类
    .nav_menu.left
      %ul
        %li.nav_down
          %b
            =link_to "首页", root_path
        %li
          %a.Bai 车行
        %li
          %a.Bai{:href=> home_card_path} 汽车养护卡
        %li
          %a.Bai 车管家
        %li
          %a.Bai 服务地图
        %li
          %a.Bai 会员权益
