.nav
  .nav_box.m
    .nav_menu.left
      %ul
        %li{:style=>"width:200px;"}
          .nav_class
            %b{:style=>"text-align:center;"}
              %a.Bai{:href=> home_search_path} 全部分类
        %li
          %a.Bai.nav_tag{:href=> root_path,:value=>1} 首页
        %li
          %a.Bai.nav_tag{:href=> vendors_path,:value=>2} 车行
        %li
          %a.Bai.nav_tag{:href=> home_card_path,:value=>3} 享车卡
        %li
          %a.Bai.nav_tag{:href=> vendors_map_path,:value=>4} 服务地图
        %li
          %a.Bai.nav_tag{:href=> '#',:value=>5} 会员权益
  %input#hidden_for_label{:type=>"hidden"}
:javascript

  $(document).ready(function(){
    var flag= parseInt($("#hidden_for_label").val());
    if(#{@nav_label_check.to_i}!=0){
      $("li").eq(#{@nav_label_check.to_i}).addClass("nav_down");
    }

  })

  $(".nav_tag").click(function(){
    $("#hidden_for_label").val( $(this).attr("value") );
  });