#tbox{:style=>"background:url('"+asset_path("test/icon.gif")+"') no-repeat; "}
  %a#pinglun{:target=>"_blank",:href=>"http://ixiangche.com/hello/advice"}
  %a#xiangguan{:href=>"tencent://message/?uin=1946936437"}
  %a#gotop{:style=>"cursor:pointer;"}
:javascript
  function b(){
    h = $(window).height();
    t = $(document).scrollTop();
    if(t > h){
      $('#gotop').show();
    }else{
      $('#gotop').hide();
    }
  }
  $(document).ready(function(e) {
    b();
    $('#gotop').click(function(){
      $(document).scrollTop(0);
    })
   });

  $(window).scroll(function(e){
    b();
  })

