.top
  .topBox.m
    .T_l.left
      欢迎来到爱享车商城！&nbsp&nbsp
    .T_r.right
      .login_OR_reg.left
        .login{:class=>"display:none;"}
          -if current_customer
            %a{:href=> customers_center_path}
              =current_customer.email
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            %a.Red{:href=>"http://ixiangche.com/customers/logout"}
              安全退出
            &nbsp
          -else
            %a.Red{:href=>"http://ixiangche.com/customers/login"}
              登录
            &nbsp
            %span.Ink |
            &nbsp
            %a.Red{:href=>"http://ixiangche.com/customers/sign_up"}
              注册
            &nbsp
      .userCenter.left
        &nbsp;&nbsp;
        %a{:href=>"http://ixiangche.com"} 我的享车网
      .aboutXiche.left
        &nbsp;&nbsp;&nbsp;
        %a{:href=> home_about_us_path}
          关于享车网
