.top{:style=>"background-image: url('"+ asset_path('test/Index_BodyBG.gif') +"');"}
  .topBox.m
    .T_l.left
      欢迎来到爱享车商城,&nbsp&nbsp
    .T_r.right
      .login_OR_reg.left
        .login{:class=>"display:none;"}
          %a.Red 登录
          &nbsp
          %span.Ink |
          &nbsp
          %a.Red 新用户请注册
          &nbsp
        .login_down
          亲爱的用户
          %span.Red JASON
          &nbsp;&nbsp;&nbsp
          %a.Bule{} 安全退出
      .qq_login.left{:style=>"padding-right:10px;background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
        %a QQ登录
      .userCenter.left
        &nbsp;&nbsp;
        %a 我的享车网
      .aboutXiche.left
        &nbsp;&nbsp;&nbsp;
        %a 关于享车网
