.main_userbox_R.right
  %h3.userbox_hd{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
    %ul
      %li.user_On 账户信息
      %li 服务车行
      %li 个人信息
      %li 车辆信息
  .userbox_con
    %p
      您的养护卡卡号为：
      %b.Red 215415845
    %p
      您的购买的养护卡是：
      %b.Bule 汽车养护卡普通会员
      %a.Red (查看会员权限)
    %h4
      %a#user_menu
        %b 继续支付
      %a#user_menuma
        %b 使用支付码付款
    %p
      养护卡有效日期：
      %b.Bule 2014年3月1日——2015年3月2日

