.div1
  .div2    
    .main_goods_R.right
      .main_orderform_box
        %h3
          %b 我的订单
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %a [客服中心]
          %p
            交易记录中不包括使用优惠券、礼品卡、手机红包支付或退款至礼品卡、优惠券、手机红包的金额。
            系统仅显示您两年之内的余额明细，更早的余额明细不再显示。
          %p
            交易记录中不包括使用优惠券、礼品卡、手机红包支付或退款至礼品卡、优惠券、手机红包的金额。
            系统仅显示您两年之内的余额明细，更早的余额明细不再显示。
      .main_goods_tab
        %a.on 全部订单
        %a 待付款
        %a 待收货
      .main_goods_details
        %table(width="100%" border="0" cellspacing="0" cellpadding="0")
          %tr
            %td
              %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                %tr
                  %td(height="30" align="center" bgcolor="#FAFED3") 订单信息
                  %td(height="30" align="center" bgcolor="#FAFED3") 收货人
                  %td(height="30" align="center" bgcolor="#FAFED3") 订单金额
                  %td(height="30" align="center" bgcolor="#FAFED3") 下单时间
                  %td(height="30" align="center" bgcolor="#FAFED3") 状态
                  %td(height="30" align="center" bgcolor="#FAFED3") 操作
          %tr
            %td
              %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                %tr
                  %td(height="25" bgcolor="#e9e9e9")
                    &nbsp;&nbsp;&nbsp;订单编号：
                    %a#idUrl1003294699 1003294699
                %tr
                  %td(height="70")
                    %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                      %tr
                        %td(height="60" align="left" bgcolor="#FFFFFF")
                          %a
                            %img{:src=>asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC"}
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b 邹捷
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b.Red ￥119.00
                          %br
                          在线支付
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.SInk 2014-01-20
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.Ink 已完成
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %a.Red 查看订单
                          %br
                          %a.Red 申请退货
                %tr
                  %td(height="70")
                    %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                      %tr
                        %td(height="60" align="left" bgcolor="#FFFFFF")
                          %a
                            %img{:src=>asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC"}
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b 邹捷
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b.Red ￥119.00
                          %br
                          在线支付
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.SInk 2014-01-20
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.Ink 已完成
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %a.Red 查看订单
                          %br
                          %a.Red 申请退货
                %tr
                  %td(height="70")
                    %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                      %tr
                        %td(height="60" align="left" bgcolor="#FFFFFF")
                          %a
                            %img{:src=>asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC"}
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b 邹捷
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b.Red ￥119.00
                          %br
                          在线支付
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.SInk 2014-01-20
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.Ink 已完成
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %a.Red 查看订单
                          %br
                          %a.Red 申请退货
          %tr
            %td
              %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                %tr
                  %td(height="25" bgcolor="#e9e9e9")
                    &nbsp;&nbsp;&nbsp;订单编号：
                    %a#idUrl1003294700 1003294700
                %tr
                  %td(height="70")
                    %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                      %tr
                        %td(height="60" align="left" bgcolor="#FFFFFF")
                          %a
                            %img{:src=>asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC"}
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b 邹捷
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b.Red ￥119.00
                          %br
                          在线支付
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.SInk 2014-01-20
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.Ink 已完成
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %a.Red 查看订单
                          %br
                          %a.Red 申请退货
                %tr
                  %td(height="70")
                    %table(width="100%" border="0" cellspacing="0" cellpadding="0")
                      %tr
                        %td(height="60" align="left" bgcolor="#FFFFFF")
                          %a
                            %img{:src=>asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC"}
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b 邹捷
                        %td(width="80" align="center" bgcolor="#FFFFFF")
                          %b.Red ￥119.00
                          %br
                          在线支付
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.SInk 2014-01-20
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %span.Ink 已完成
                        %td(width="100" align="center" bgcolor="#FFFFFF")
                          %a.Red 查看订单
                          %br
                          %a.Red 申请退货
      .pagebar
        .page-bottom.right
          %span.page_start
          %a.page_curOn 1
          %a.page_cur 2
          %a.page_cur 3
          %a.page_cur 4
          %a.page_cur 5
          %span.page_omit ...
          %a.next 下一页
        .page-bottom.right{:style=>"display:none;"}
          %a.back 上一页
          %span.page_omit ...
          %a.page_cur 96
          %a.page_cur 97
          %a.page_cur 98
          %a.page_cur 99
          %a.page_curOn 100
          %span.page_startR
        .page_txt.right
          本次搜索结果共
          %b.Bule 100
          页
