.main_goods_R.right
  .main_orderform_box(style="font-size:14px")
    %h3
      %b 修改密码
    %p
      您的养护卡卡号为：
      %strong.Red 215415845
    %p
      您的购买的养护卡是：
      %strong.Bule 汽车养护卡普通会员
      %a(style="padding-left:10px;") {查看会员权限}
    %p
      1、您的账号密码是您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。
    %p
      2、在他人或办公电脑中登陆享车网后，请切记退出账号登录状态。
    %p
      3、享车网和您选择的服务车行不会以任何形式向您索要享车网密码。
    %h5
      %a#continue_password 修改密码

