.main_userbox_R.right
  %h3.userbox_hd{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
    %ul
      %li.user_On 积分记录
  .userbox_con
    %table(width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFE99B")
      %tr
        %td(width="120" height="25" align="center" bgcolor="#ffefb4") 日期
        %td(width="120" align="center" bgcolor="#ffefb4") 获取积分
        %td(width="120" align="center" bgcolor="#ffefb4") 消耗积分
        %td(bgcolor="#ffefb4" align="center") 说明
      %tr
        %td.Red(height="25" align="center" bgcolor="#FFFFFF") 2014年5月1日
        %td(align="center" bgcolor="#FFFFFF")
          %b.Red 100
        %td(align="center" bgcolor="#FFFFFF")
          %b.Bule 20
        %td(align="center" bgcolor="#FFFFFF") 活动渠道获得积分
      %tr
        %td.Red(height="25" align="center" bgcolor="#FFFFFF") 2014年7月11日
        %td(align="center" bgcolor="#FFFFFF")
          %b.Red 100
        %td(align="center" bgcolor="#FFFFFF")
          %b.Bule 20
        %td(align="center" bgcolor="#FFFFFF")
          购买商品
          %b.Red [获赠200分]
    %h5
      %strong 积分如何使用？
    %h6
      您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。1、您的账号密码是您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。
    %h5
      %strong
        如何获得更多积分？
    %h6
      您的账号密码是您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。
.clear



