.main_userbox_R.right
  %h3.userbox_hd{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
    %ul
      %li.user_On 洗车记录
  .userbox_con
    %p 在过去的 39 天中，您已经洗车
    %b.Red 32
    次，本月您还能洗车
    %b.Red 31
    次，总剩余洗车次数：
    %b.Red 3
    次
    %h5
      %strong 洗车记录
    %span
    %table(width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFE99B")
      %tr
        %td(width="80" height="25" align="center" bgcolor="#ffefb4") 编号
        %td(width="250" align="center" bgcolor="#ffefb4") 项目
        %td(align="left" bgcolor="#ffefb4") &nbsp;&nbsp;&nbsp;洗车时间
      %tr
        %td.Red(height="25" align="center" bgcolor="#FFFFFF") 1
        %td(align="center" bgcolor="#FFFFFF")
          %b.Red 普通清洗
        %td(align="left" bgcolor="#FFFFFF") &nbsp;&nbsp;&nbsp;2014年4月1日
      %tr
        %td.Red(height="25" align="center" bgcolor="#FFFFFF") 2
        %td(align="center" bgcolor="#FFFFFF")
          %b.Red 高端精洗
        %td(align="left" bgcolor="#FFFFFF") &nbsp;&nbsp;&nbsp;2014年5月1日
    %h5 关于享车网洗车次数
    %h6 您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。1、您的账号密码是您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。
    %h6 您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。1、您的账号密码是您登陆享车网的唯一凭证。请不要随意将您的密码告知他人，确保账号和您的权益安全。

.clear



