.main_category_hotshop{:style=>"margin-top:0px; border:0;"}
  %h3
    %b 热销商品
  .main_category_pro{:style=>"margin-left:-15px;"}
    %ul.part_list
      -@good_hot_rec.each do |h|
        %li{:style=>"margin-left:4px;"}
          %a{:href=> h.text2 , :target=>"_blank" }
            .p_img{:style=>" width:171px; height:171px;"}
              %img{:src=>"#{h.img_url}", :width=>"170", :height=>"170",  :border=>"1px solid #F3F3F3"}
          .p_title{:style=>" height:35px; overflow:hidden; margin-top:5px;"}
            %a{:href=> h.text2 , :target=>"_blank" }
              =h.title
          .p_price
            %span ￥
            %b
              =h.text4

