-3.times do
  .main_hot_pro
    %ul.part_list
      %li
        .p_img
          %a
          %img{ :src=>asset_path("test/img-13.jpg"),  :width=>"158", :height=>"158",  :border=>"0"}
        .p_title
          %a 米其林 205/55R16【自营】北上广等多省市包快
        .p_price
          %span ￥
          %b 699
          %span .00
