.news_tui
  .part03line
  %h3.part_03hd.Red
  .part_03list
    %ul.part_list
      -4.times do
        %li
          .p_img
            %a
              %img{ :src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
