.main_category_ranking
  %h3.Red
    %b 销量排行
  .main_category_proranking
    -get_rank_info.each_with_index do |r,index|
      - g=r.mall_good
      .ranking_list
        %p.left
          %img{ :src=>g.logo_url1, :width=>"60", :height=>"60"}
        %h4.left
          %a
            =g.title
          %s
            -if current_customer
              =current_customer.get_price( r)
            -else
              =r.price
        %span
          = index+1
