.main_category_hotshop
  %h3
    %b 热销商品
  .main_category_pro
    %ul.part_list
      -@good_hot_rec.each do |h|
        %li
          .p_img
            %a{:href=> h.text2 }
            %img{:src=>"#{h.img_url}", :width=>"158", :height=>"158",  :border=>"0"}
          .p_title
            %a{:href=> h.text2 }
              =h.title
          .p_price
            %span ￥
            %b
              =h.title

