.main_category_ranking
  %h3.Red
    %b 销量排行
  .main_category_proranking
    -3.times do
      .ranking_list
        %p.left
          %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
        %h4.left
          %a 马牌轮胎 205/55R16
          %s ￥495.00
        %span 1
