#ajax_vendor_list
  .class_rule_retrieval
    %h3.left
      检索出
      %b.Red
        =@vendors.count
      个符合您需求的车行
    %h3.right{:style=>"margin-right:10px;"}
      = paginate @page_vendors
  .category_product
    -@page_vendors.each do |v|
      .garage_list
        .garage_img
          %a{:href=> vendor_path(v.id) }
            -if v.main_photo
              %img{:src=>v.main_photo.medium,:width=>"230", :height=>"165", :border=>"0"}
        .garage_name
          %span(style="font-size: 12px;")
            %em(style="float:right")
              %a(style="color:#137eac")
                -if v.mall_area
                  =v.mall_area.name
          %span(style="font-size: 16px; color:#137EAC; font-weight: bold;")
            %a{:href=> vendor_path(v.id) }
              =v.name
        .garage_detail
          %ul
            %li
              %strong
                &nbsp;&nbsp;&nbsp;地&nbsp;&nbsp;&nbsp;址：
              = v.address.street if v.address
            %li
              %strong
                &nbsp;&nbsp;&nbsp;电&nbsp;&nbsp;&nbsp;话：
              =v.phone1
            %li
              %strong
                &nbsp;&nbsp;&nbsp;营业时间：
              =v.opening_hours
  .class_rule_retrieval.left{:style=>"width:97%;"}
    %h3
      检索出
      %b.Red
        =@vendors.count
      个符合您需求的车行
    %h3.right{:style=>"margin-right:10px;margin-top:-30px;"}
      = paginate @page_vendors

