#ajax_vendor_search{:style=>"width:762px; margin-left:16px;"}
  .class_rule_retrieval
    %h3.left
      检索出
      %b.Red
        =@vendor_goods.count
      个符合您需求的商品
    %h3.right{:style=>"margin-right:10px;"}
      = paginate @key_vendor_goods
  .category_product
    -@key_vendor_goods.each do |g|
      .main_products_li.left{:style=>"background-image: url('"+asset_path("test/76C28745.gif")+"'); margin-left:3px;"}
        .p_img
          %a{:href=>good_path(g.id), :target=>"_blank" }
            =image_tag( g.logo_url1, height:"175", width:"175")
        .p_title{:style=>"overflow:hidden; height:30px;"}
          %a{:href=>good_path(g.id), :target=>"_blank" }
            =g.title
          %br
        %a
          =g.mall_category.name
        .p_price
          %span{:style=>"font-size:20px;"} ￥
          %b
            =MallGood.find(g.id).mall_skus.first.customer_price
          /%span .00


