.main_category_ranking
  %h3.Red
    %b 销量排行
  .main_category_proranking{:style=>"background-image:url('"+asset_path("test/category_lBG.jpg")+"')"}
    -get_rank_info.each_with_index do |r,index|
      - g=r.mall_good
      .ranking_list{:style=>"background-color:white;"}
        %p.left
          %a{:href=> good_path(g) }
            %img{ :src=>g.logo_url1, :width=>"60", :height=>"60"}
        %h4.left
          %a{:style=>"overflow:hidden; height:33px;",:href=> good_path(g)}
            =g.title
          %s
            %font{:style=>"color:#F84A2D;"}
              ￥
            -if current_customer
              =current_customer.get_price( r)
            -else
              =r.price
        %span
          = index+1

