=link_to '全部', { :controller=>"vendors",:action=>"vendor_search", :id=>0, :remote=>true}
&nbsp;|&nbsp;
=link_to '城东', { :controller=>"vendors",:action=>"vendor_search", :id=>1, :remote=>true}
&nbsp;|&nbsp;
=link_to '城南', { :controller=>"vendors",:action=>"vendor_search", :id=>2, :remote=>true}
&nbsp;|&nbsp;
=link_to '城西', { :controller=>"vendors",:action=>"vendor_search", :id=>3, :remote=>true}
&nbsp;|&nbsp;
=link_to '城北', { :controller=>"vendors",:action=>"vendor_search", :id=>4, :remote=>true}
&nbsp;|&nbsp;
=link_to '城中', { :controller=>"vendors",:action=>"vendor_search", :id=>5, :remote=>true}
&nbsp;|&nbsp;
=link_to '高新', { :controller=>"vendors",:action=>"vendor_search", :id=>6, :remote=>true}
