#ajax_vendor_search
  .class_rule_retrieval
    %h3.left
      检索出
      %b.Red
        =@vendor_goods.count
      个符合您需求的商品
    %h3.right{:style=>"margin-right:10px;"}
      = paginate @key_vendor_goods
  .category_product
    -@key_vendor_goods.each do |g|
      %a
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a{:href=>good_path(g.id)}
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a{:href=>good_path(g.id)}
              =g.title
            %br
            %a
              =g.mall_category.name
          .p_price
            %span ￥
            %b
              -@sku=MallGood.find(g.id).mall_skus.first
              =current_customer.get_price(@sku)
            %span .00


