%script{:src => "http://webapi.amap.com/maps?v=1.2&key=60ae1e52b28be4ec98f9c7c5a77f5c4a", :type => 'text/javascript'}
#map_canvas.map_view{:style=>"width:100%; height:170px;"}
:javascript
  var vendor_center = new AMap.LngLat(#{@vendor.address.longitude}, #{@vendor.address.latitude});
  map_initialize(vendor_center);
  marker(eval(#{@vendor_map}));