=render "home/partial/nav"
.aboutus_wrap
  .aboutus_left
    .aboutus_pic
      %img{:src=> asset_path("test/pic_r3_c2_s1_s1.jpg")}
    .aboutus_menu
      %ul
        -get_footer_info.each_with_index do |i,index|
          %li
            &gt;
            %a.left_click_bar{:value=>index}
              =i.title
  .aboutus_right
    -get_footer_info.each_with_index do |i,index|
      .shown_area{:value=>index}
        .aboutus_words
          %p
            =i.text_area.html_safe if i.text_area

:javascript
  $(document).ready(function(){
    $(".shown_area").each(function(){
      if( #{@shown_id.to_i}==parseInt($(this).attr("value"))){
        $(this).css("display", "block");
      }else{
        $(this).css("display", "none");
      }
    });
  });

  $(".left_click_bar").click(function(){
    var key= parseInt($(this).attr("value"));
    $(".shown_area").each(function(){
      if( key==parseInt($(this).attr("value"))){
        $(this).css("display", "block");
      }else{
        $(this).css("display", "none");
      }
    });
  });
