=render "home/partial/nav"
#card_wrap
  #card_pic{ :style=>"background:url('"+asset_path("test/pic_r2_c4_s1.jpg")+"'); background-repeat: no-repeat;"}
    #card_button
      %form{ :method=>"GET", :target=>"_blank"}
        %a.botton{:href=>"javascript:;",:style=>"background-image: url('"+asset_path("test/button1.jpg")+"');"}
          %img{:src=>asset_path("test/button1.jpg")}
  #card_pic
    %img{:src=>asset_path("test/pic_r3_c4_s1.jpg"),:width=>"960", :height=>"267"}
  #card_pic
    %img{:src=>asset_path("test/pic_r4_c4_s1.jpg"),:width=>"960", :height=>"267"}
  #card_pic
    %img{:src=>asset_path("test/pic_r5_c4_s1.jpg"),:width=>"960", :height=>"267"}
  #card_pic_left
    %img{:src=>asset_path("test/pic_r6_c3_s1.jpg"),:width=>"345", :height=>"949"}
  #card_pic_right
    #card_table_top
      %img{:src=>asset_path("test/pic_r6_c5_s1.jpg", :width=>"606", :height=>"156")}
    #card_table
      %table(width="605" border="0" align="left" cellpadding="0" cellspacing="4" bgcolor="#FFFFFF")
        %tr
          %td.table_bold14(width="98" rowspan="3" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 高新区
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/3" target="_blank") 兰鹰汽修高新店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 30
          %td{ :width=>"161", :rowspan=>"41", :align=>"center", :valign=>"middle", :background=>asset_path("test/pic_r8_c6_s1.jpg")}
            %img{:src=>asset_path("test/pic_r10_c6_s1.jpg"), :width=>"159", :height=>"237"}
            %br
            %span.table_14
              1.每次仅限选择一家车行
              %br
              2.每月仅限洗车一次，不
              %br
              可提前
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/14" target="_blank") 卡尊汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/15" target="_blank") 盛合养车行
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 30
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 30
        %tr
          %td.table_bold14(width="98" rowspan="2" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 电子城
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/5" target="_blank") 轟记车行
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/21" target="_blank") 鸿海汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 25
        %tr
          %td.table_bold14(width="98" rowspan="4" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 城　南
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/1" target="_blank") 达润汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/7" target="_blank") 威航光华路店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/8" target="_blank") 威航曲江店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/17" target="_blank") 骏达汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 25
        %tr
          %td.table_bold14(width="98" rowspan="5" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 城　东
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/6" target="_blank") 星源汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 20
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/11" target="_blank") 鸿海幸福南路店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 25
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/18" target="_blank") 车之翼公园北路店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/22" target="_blank") 极致动力汽车会所
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/23" target="_blank") 车爵仕长乐坊店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
        %tr
          %td.table_bold14(width="98" rowspan="4" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 城　北
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/12" target="_blank") 人合车汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/9" target="_blank") 威航太华路店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 25
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/4" target="_blank") 车能靓汽车养护会所
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 25
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/24" target="_blank") 锦轮汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 25
        %tr
          %td.table_bold14(width="98" rowspan="2" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 城　西
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/3" target="_blank") 兰鹰汽修枣园店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 25
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/16" target="_blank") 卡宾达汽修
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 35
        %tr
          %td.table_bold14(width="98" rowspan="2" align="center" valign="middle" bgcolor="#F0F0F0")
            %a(href="http://www.ixiangche.com/frontend/vendors" target="_blank") 城　中
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#BFE2CA")
            %a(href="http://www.ixiangche.com/frontend/vendors/10" target="_blank") 车来车往北马道店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#BFE2CA") 30
        %tr
          %td.table_14(width="155" height="30" align="center" valign="middle" bgcolor="#F5EED6")
            %a(href="http://www.ixiangche.com/frontend/vendors/19" target="_blank") 车来车往南马道店
          %td(width="93" height="30" align="center" valign="middle" bgcolor="#F5EED6") 40
          %td(width="80" height="30" align="center" valign="middle" bgcolor="#F5EED6") 30
  #card_pic
    %img{:src=>asset_path("test/pic_r12_c2_s1.jpg"),:width=>"960", :height=>"267"}
  #card_pic
    %img{:src=>asset_path("test/pic_r13_c2_s1.jpg"),:width=>"960", :height=>"267"}
  #card_pic
    %img{:src=>asset_path("test/pic_r14_c2_s1.jpg"),:width=>"960", :height=>"267"}
  #card_pic
    %img{:src=>asset_path("test/pic_r15_c2_s1.jpg"),:width=>"960", :height=>"267"}