=render "home/partial/nav"

.wrap
  .category_part_01
    .category_left.left
      =render "home/partial/categories"
      =render 'vendors/partial/vendor_recommend'
      .main_category_ranking
        %h3.Red
          %b 销量排行
        .main_category_proranking
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 1
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 2
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 3
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 4
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 5
    .category_postiton_txt.right
      %a 首页
      %span &nbsp;&nbsp;>&nbsp;&nbsp;
      %a 导航商品
    .category_right.right
      =render 'home/partial/goods_hot_rec'
      -if 1==@flag
        .category_class
          .main_class
            -@first_class.each do |f|
              .main_class_list
                %label.left
                  =f.name
                .main_class_nav
                  -@second_class.each do |s|
                    -if s.parent_code == f.code
                      =link_to s.name,{ :action=>"research_goods_by_category", :remote=>true, :key=>@key, :id=>s.id }, :class=>"second_class_link"
      .class_rule_number
        .class_rule_icoX.left
          %h4
            %span.icoX01On.left
            %span.icoX02.left
        .class_rule_chose.left
          %h4.choseon.left 默认
          %h4.left 销量
          %h4.left 价格↑
          %h4.left 价格↓
      #ajax_category_product
        -if 2!=@flag
          =render 'home/partial/goods_show'
        -elsif 2==@flag
          =render 'home/partial/vendors_show'
  .clear
  .h_ad{:style=>" padding-top:10px;"}
    %img{:src=>asset_path("test/img-06.jpg"),:width=>"960", :height=>"100", :border=>"0"}

    :javascript
      $(".second_class_link").click(function(){
        $(".second_class_link").css("background-color","white");
        $(".second_class_link").css("color","black");
        $(this).css("background-color","#2e99c7");
        $(this).css("color","white");
        $(this).css("font","bold");
      });



