=render "home/partial/nav"

.wrap
  .category_part_01
    .category_left.left
      .category_shop_class.left
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
      .main_category_hotshop
        %h3
          %b 活动推荐
        .main_category_pro
          %ul.part_list
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购

      .main_category_ranking
        %h3.Red
          %b 销量排行
        .main_category_proranking
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 1
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 2
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 3
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 4
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 5
    .category_postiton_txt.right
      %a 首页
      %span &nbsp;&nbsp;>&nbsp;&nbsp;
      %a 导航商品
    .category_right.right
      .categroy_hottui
        %h3
          %b 热门产品推荐
        .categroy_hottui_con
          .categroy_hottui_list.left
            %h5.left
              %img{:src=>asset_path("test/img-20.jpg"),:width=>"100", :height=>"115"}
            %h4.left
              %div
                %a 马牌轮胎205/55R16
              %s ￥495.00
              %a#categroy_menu 加入购物车
          .categroy_hottui_list.left
            %h5.left
              %img{:src=>asset_path("test/img-20.jpg"),:width=>"100", :height=>"115"}
            %h4.left
              %div
                %a 马牌轮胎205/55R16
              %s ￥495.00
              %a#categroy_menu 加入购物车
          .categroy_hottui_list.left
            %h5.left
              %img{:src=>asset_path("test/img-20.jpg"),:width=>"100", :height=>"115"}
            %h4.left
              %div
                %a 马牌轮胎205/55R16
              %s ￥495.00
              %a#categroy_menu 加入购物车
      .category_class
        .main_class
          .main_class_list
            %label.left 全部分类
            .main_class_nav.left
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
          .main_class_list
            %label.left 全部分类
            .main_class_nav.left
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
          .main_class_list
            %label.left 全部分类
            .main_class_nav.left
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
          .main_class_list
            %label.left 全部分类
            .main_class_nav.left
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
              %a 装饰品
      .main_class_more
        .class_more_box.m
          更多
          %span
      .class_rule_number
        .class_rule_icoX.left
          %h4
            %span.icoX01On.left
            %span.icoX02.left
        .class_rule_chose.left
          %h4.choseon.left 默认
          %h4.left 销量
          %h4.left 价格↑
          %h4.left 价格↓
        .class_area_chose.right
          %table( width="100%" border="0" cellspacing="0" cellpadding="0")
            %tr
              %td(height="34" align="center") 地区
              %td(width="50")
                %select( name="select")
                  %option( value="1") 省
              %td(width="50")
                %select( name="select2")
                  %option( value="1") 市
              %td(width="50")
                %select( name="select3")
                  %option( value="1") 区
      .class_rule_retrieval
        %h3.left
          检索出
          %b.Red 254012
          个符合您需求的商品
        .retrieval_page.right
          .top_page
            .page1
              %a.prev 上一页
              %a.next 下一页
      .category_product
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"), :border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .clear
        .pagebar
          .page-bottom.right
            %span.page_start
            %a.page_curOn 1
            %a.page_cur 2
            %a.page_cur 3
            %a.page_cur 4
            %a.page_cur 5
            %span.page_omit ...
            %a.next 下一页
          .page-bottom.right{:style=>"display:none;"}
            %a.back 上一页
            %span.page_omit ...
            %a.page_cur 96
            %a.page_cur 97
            %a.page_cur 98
            %a.page_cur 99
            %a.page_curOn 100
            %span.page_startR
          .page_txt.right
            本次搜索结果共
            %b.Bule 100
            页
    .clear
  .clear
  .h_ad{:style=>" padding-top:10px;"}
    %img{:src=>asset_path("test/img-06.jpg"),:width=>"960", :height=>"100", :border=>"0"}





