
hello world
= current_customer.email
= link_to " log in",new_customer_session_path
%br
-@vendors.each do |v|
  =link_to v.name,vendor_path(v)

%br
-@goods.each do |g|
  =link_to g.title, good_path(g)

%br
= link_to 'search', home_search_path

%br

