=render "home/partial/nav"
.header
  .header_Box.m
    %p.logo.left{ :style=>"	background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
    .shopcar_one.right{ :style=>"	background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
    .shopcar_two.right{:style=>"display:none;background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
    .shopcar_three.right{:style=>"display:none;background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
.wrap
  .main_box
    .main_box_shopcar 填写并核对订单信息
    .main_shopcarbyket
      %table( width="100%" border="0" cellspacing="0" cellpadding="0")
        %tr
          %td( height="30" bgcolor="#FFFDDD")
            %table( width="100%" border="0" cellspacing="0" cellpadding="0")
              %tr
                %td( width="120" height="30" align="right" valign="bottom" bgcolor="#FFFDDD") 您的个人信息：
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
              %tr
                %td( height="35" align="right" bgcolor="#FFFFFF")
                  %p 登录账户：
                %td( align="left" bgcolor="#FFFFFF")
                  =current_customer.email
                %td( align="center" bgcolor="#FFFFFF") &nbsp;
              %tr
                %td( height="35" align="right" bgcolor="#FFFDDD")
                  %p 联系电话：
                %td( align="left" bgcolor="#FFFDDD")
                  =current_customer.phone if !current_customer.phone.nil?
                  ="暂无信息" if current_customer.phone.nil?
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
              %tr
                %td( height="35" align="right" bgcolor="#FFFFFF")
                  %p 地址：
                %td( colspan="2" align="left" bgcolor="#FFFFFF")
                  %p
                  =current_customer.address if !current_customer.address.nil?
                  ="暂无信息" if current_customer.address.nil?
              %tr
                %td(  height="35" align="right" bgcolor="#FFFDDD")
                  %p 车辆信息：
                %td( align="left" bgcolor="#FFFDDD")
                  =current_customer.car.car_model.car_set.car_brand if !current_customer.car.nil?
                  ="暂无信息" if current_customer.car.nil?
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
              %tr
                %td(  height="35" align="right" bgcolor="#FFFFFF") 车型：
                %td( colspan="2" align="left" bgcolor="#FFFFFF")
                  =current_customer.car.car_model.car_set.car_brand.name+current_customer.car.car_model.car_set.name+current_customer.car.car_model.name if !current_customer.car.nil?
                  ="暂无信息" if current_customer.car.nil?
              %tr
                %td(  height="35" align="right" bgcolor="#FFFDDD")
                  %p 购车日期：
                %td( align="left" bgcolor="#FFFDDD")
                  =current_customer.car.bought_since if !current_customer.car.nil?
                  ="暂无信息" if current_customer.car.nil?
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
    .main_shopcarbyket
      %table( width="100%" border="0" cellspacing="0" cellpadding="0")
        %tr
          %td(height="30")
            %table(width="100%" border="0" cellspacing="0" cellpadding="0")
              %tr
                %td(width="120" height="40" align="left" bgcolor="#FFFFFF")
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  %strong 购买后如何使用：
              %tr
                %td(height="60" valign="top" bgcolor="#FFFFFF")
                  %p(style="padding-left:20px; line-height:18px;")
                    成功购买后，即可直接到所购买车行前台处，报出手机号，进行消费。无需预约！（注意：个别产品需预约，请在购买前阅读产品说明！）
        %tr
          %td &nbsp;
        %tr
          %td( height="80")
            %table( width="90%" border="0" align="center" cellpadding="0" cellspacing="0")
              %tr
                %td(height="50")
                  %b(style="font-size:14px") 享车网客服电话：029-81543924
    .main_shopcarbyket
      %table(width="100%" cellspacing="0" cellpadding="10")
        %tr(style=" border:1px solid red;")
          %td(height="30" style="font-size:14px; font-style:bold;"  colspan="9")
            商品清单
        %tr( style=" border:1px solid red;" bgcolor="#FAFED3")
          %td(height="30") 商品展示
          %td(height="30") 商品名称
          %td(height="30") 收货人
          %td(height="30") 商品单价
          %td(height="30") 数量
          %td(height="30") 订单金额
          %td(height="30") 下单时间
          %td(height="30") 状态
          %td(height="30") 操作
        =render 'customers/center_partial/order_line'
        %tr
          %td(height="50" colspan="9")
            %table(width="90%" border="0"  cellpadding="0" cellspacing="0")
              %tr
                %td(height="50") &nbsp;
                %td(width="170")
                  %a#continue_shopcar{:href=> customers_order_confirm_path(:good_quantity=>@good_quantity,:good_sku=>@good_sku), :style=>" background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');",:title=>"去购物结算"}
    .clear





