=render "vendors/partial/vendor_nav"
.header_position
  .postiton_txt.m
    %a 我的享车网
    %span &nbsp;&nbsp;>&nbsp;&nbsp;
.wrap
  .main_box.path01(style="background-color:#FFFFFF")
    .main_userbox_L.left
      .userbox_center
        %h3
          用户名：
          %b zoujie0506
        %h3
          积分：
          %b.Red 0
        %h3
          站内信：
          %a.Bule
            %strong 2
      .user_admin
        %h3.user_admin_hd{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
          账户中心
        %ul
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 账户信息
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 账户安全
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 修改密码
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 我的积分
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 服务车行
      .user_consumption
        %h3.user_admin_hd{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
          消费记录
        %ul
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 我的订单
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 现金账户
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 洗车记录
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 车行消费记录
      .user_help
        %h3.user_admin_hd{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
          客服服务
        %ul
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 投诉建议
          %li{:style=>" background-image: url('"+asset_path("test/user_bodyBG.gif")+"');"}
            %a 联系客服

    =render 'customers/center_partial/order'
    /=render 'customers/center_partial/account_info'
    /=render 'customers/center_partial/password'
    /=render 'customers/center_partial/score_record'
    /=render 'customers/center_partial/washing_record'
    /=render 'customers/center_partial/cart'


  .clear
  =render 'home/partial/bottom_ad_without_homepage'
