=render "home/partial/nav"
.wrap
  .main_buy_success.path01
    %p 对不起，支付失败，请您检查后重新支付！
    %h3(style="line-height:40px;")
      %a.Red{:href=> root_path}
        %b 返回首页
  .clear
  =render 'home/partial/bottom_ad_without_homepage'