=render "home/partial/nav"
.header
  .header_Box.m
    %p.logo.left{ :style=>"	background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
    .shopcar_one.right{ :style=>"	background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
    .shopcar_two.right{:style=>"display:none;background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
    .shopcar_three.right{:style=>"display:none;background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
.wrap
.wrap
  .main_box
    .main_box_shopcar 填写并核对订单信息
    .main_shopcarbyket
      %table( width="100%" border="0" cellspacing="0" cellpadding="0")
        %tr
          %td( height="30" bgcolor="#FFFDDD")
            %table( width="100%" border="0" cellspacing="0" cellpadding="0")
              %tr
                %td( width="120" height="30" align="right" valign="bottom" bgcolor="#FFFDDD") 您的个人信息：
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
              %tr
                %td( height="35" align="right" bgcolor="#FFFFFF")
                  %p 登录账户：
                %td( align="left" bgcolor="#FFFFFF")
                  =current_customer.email
                %td( align="center" bgcolor="#FFFFFF") &nbsp;
              %tr
                %td( height="35" align="right" bgcolor="#FFFDDD")
                  %p 联系电话：
                %td( align="left" bgcolor="#FFFDDD")
                  =current_customer.phone if !current_customer.phone.nil?
                  ="暂无信息" if current_customer.phone.nil?
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
              %tr
                %td( height="35" align="right" bgcolor="#FFFFFF")
                  %p 地址：
                %td( colspan="2" align="left" bgcolor="#FFFFFF")
                  %p
                  =current_customer.address if !current_customer.address.nil?
                  ="暂无信息" if current_customer.address.nil?
              %tr
                %td(  height="35" align="right" bgcolor="#FFFDDD")
                  %p 车辆信息：
                %td( align="left" bgcolor="#FFFDDD")
                  =current_customer.car.car_model.car_set.car_brand.name if !current_customer.car.nil?
                  ="暂无信息" if current_customer.car.nil?
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
              %tr
                %td(  height="35" align="right" bgcolor="#FFFFFF") 车型：
                %td( colspan="2" align="left" bgcolor="#FFFFFF")
                  =current_customer.car.car_model.car_set.car_brand.name+current_customer.car.car_model.car_set.name+current_customer.car.car_model.name if !current_customer.car.nil?
                  ="暂无信息" if current_customer.car.nil?
              %tr
                %td(  height="35" align="right" bgcolor="#FFFDDD")
                  %p 购车日期：
                %td( align="left" bgcolor="#FFFDDD")
                  =current_customer.car.bought_since if !current_customer.car.nil?
                  ="暂无信息" if current_customer.car.nil?
                %td( align="center" bgcolor="#FFFDDD") &nbsp;
    .main_shopcarbyket
      %table( width="100%" border="0" cellspacing="0" cellpadding="5")
        %tr
          %td(height="30")
            %table(width="100%" border="0" cellspacing="0" cellpadding="0")
              %tr
                %td(width="120" height="40" align="left" bgcolor="#FFFFFF")
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  %strong 购买后如何使用：
              %tr
                %td(height="60" valign="top" bgcolor="#FFFFFF")
                  %p(style="padding-left:20px; line-height:18px;")
                    成功购买后，即可直接到所购买车行前台处，报出手机号，进行消费。无需预约！（注意：个别产品需预约，请在购买前阅读产品说明！）
        %tr
          %td &nbsp;
        %tr
          %td( height="80")
            %table( width="90%" border="0" align="center" cellpadding="0" cellspacing="0")
              %tr
                %td(height="50")
                  %b(style="font-size:14px") 享车网客服电话：029-81543924
    .main_shopcarbyket
      %table(width="100%" border="0" cellspacing="0" cellpadding="0")
        %tr
          %td(height="40" align="left" bgcolor="#FAFED3" colspan="9")
            %b(style="font-size:14px") 商品清单
        %tr
          %td(height="30" align="center" bgcolor="#FAFED3" colspan="2") 订单信息
          %td(height="30" align="center" bgcolor="#FAFED3") 收货人
          %td(height="30" align="center" bgcolor="#FAFED3") 单价
          %td(height="30" align="center" bgcolor="#FAFED3") 数量
          %td(height="30" align="center" bgcolor="#FAFED3") 订单金额
          %td(height="30" align="center" bgcolor="#FAFED3") 下单时间
          %td(height="30" align="center" bgcolor="#FAFED3") 预约时间
          %td(height="30" align="center" bgcolor="#FAFED3") 操作
        -@cart_orders.each_with_index do |o, index|
          %tr
            %td(width="60")
              %a
                %img{:src=> asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC"}
            %td(valign="top")
              =o.mall_sku.mall_good.title
            %td(align="center" bgcolor="#FFFFFF")
              %b
                =o.customer.email
            %td(align="center" bgcolor="#FFFFFF")
              %b.Red
                =current_customer.get_price(o.mall_sku)
              %br
            %td(align="center" bgcolor="#FFFFFF")
              %b.order_quantity
                =o.quantity
            %td( align="center" bgcolor="#FFFFFF")
              %b.Red
                =o.price
              %br
                在线支付
            %td( align="center" bgcolor="#FFFFFF")
              %span.SInk
                =(o.created_at).strftime("%Y-%m-%d %H:%M:%S")
            %td.order_time(align="center")
              尚未预约
            %td( align="center" bgcolor="#FFFFFF")
              %a.Red.order_button{:value=> index} 预约
        %tr
          %td(width="170" colspan="9" align="right" )
            %hr
            =form_tag('/customers/cart_confirm', method: :GET ) do
              %input#selected_ids{:type=>"hidden",:name=>"selected_ids",:value=>"#{@cart_ids}"}
              %input#selected_times{:type=>"hidden",:name=>"selected_times"}
              =submit_tag '去结算', :title=>"去购物结算", :style=>" background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');",:id=>"continue_shopcar", :target=>"_blank"
    .clear
    .order_date_pick_area.right
      %button#button_decrease( width="20" height="20") -
      %input#quantity_input( type="text" name="quantity_textfield" value="1" width="20px")
      %button#button_increase( width="20" height="20") +
      %br
      %input.order_date_pick
      %input#hidden_order_key{:type=>"hidden"}
  :javascript

    $("#button_decrease").click(function(){
      var key= parseInt($("#hidden_order_key").attr("value"));
      var max= parseInt($(".order_quantity").eq(key).text());
      var min= 1;
      var value=parseInt($("#quantity_input").attr("value"));
      if( value>1 && value<=max){
        value= value-1;
        $("#quantity_input").attr("value",value);
      }
    });
    $("#button_increase").click(function(){
      var key= parseInt($("#hidden_order_key").attr("value"));
      var max= parseInt($(".order_quantity").eq(key).text());
      var min= 1;
      var value=parseInt($("#quantity_input").attr("value"));
      if( value>=0 && value<max){
        value= value+1;
        $("#quantity_input").attr("value",value);
      }
    });

    $(".order_date_pick").datetimepicker();

    $(".order_button").click(function(){
      $(".order_date_pick_area").dialog("open");
      $("#hidden_order_key").attr("value", $(this).attr("value") );
    });

    $(function(){
      $(".order_date_pick_area").dialog({
        autoOpen: false,
        height:200,
        modal: true,
        buttons:{
          取消: function(){
            $(this).dialog("close");
          },
          确定: function(){
            $(this).dialog("close");
            var times= parseInt( $("#quantity_input").attr("value"));
            var time= $(".order_date_pick").val();
            var key= parseInt($("#hidden_order_key").attr("value"));
            var order_time= time+" X "+times;
            $(".order_time").eq(key).text(order_time);
            var times_list= new Array();
            $(".order_time").each(function(){
              times_list.push($(this).text());
            });
            $("#selected_times").attr("value", times_list);
            var requestUrl= "/customers/set_order_time_list";
            var data= times_list;
            $.ajax({
              url: requestUrl,
              data: "time_list="+data,
              contentType: "application/json; charset=utf-8;",
              dataType:"json",
              success: function(json){
                alert(json);
              }

            });
          }
        }
      });
    });

