=render "home/partial/nav"
.header
  .header_Box.m
    %p.logo.left{ :style=>"	background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
    .shopcar_one.right{ :style=>"	background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
    .shopcar_two.right{:style=>"display:none;background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
    .shopcar_three.right{:style=>"display:none;background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}

.wrap
  .main_box
    .main_box_shopcar 我的购物车
    .main_shopcarbyket
      %table( width="100%" border="0" cellspacing="0" cellpadding="5")
        %tr
          %td( width="40" height="30" align="center" bgcolor="#eeeeee")
            %input( type="checkbox" name="checkbox" value="checkbox" )
          %td( align="center" bgcolor="#eeeeee" colspan="2") 商品
          %td( width="75" align="center" bgcolor="#eeeeee") 单价
          %td( width="150" align="center" bgcolor="#eeeeee") 数量
          %td( width="150" align="center" bgcolor="#eeeeee") 库存
          %td( width="75" align="center" bgcolor="#eeeeee") 金额
          %td( width="100" align="center" bgcolor="#eeeeee") 操作
        -@cart_list.each do |l|
          %tr
            %td( width="40" height="80" align="center")
              - if l.mall_sku.mall_inventory.inventory_qty<0
                %input.good_check_box#good_111( type="checkbox" name="checkbox2" disabled="disabled" )
              -else
                %input.good_check_box#good_111( type="checkbox" name="checkbox2" )
              %input#hidden_in_checkbox{:type=>"hidden",:value=>l.id }
            %td( align="left")
              %img{ :src=>asset_path("test/img-08.jpg"),:width=>"50", :height=>"50", :style=>"border: 1px solid #CCCCCC;"}
            %td
              %a.Red
                =l.mall_sku.mall_good.title
            %td( width="75" align="center")
              =current_customer.get_price( l.mall_sku)
            %td( width="150" align="center")
              =l.quantity
            %td( width="150" align="center")
              - if l.mall_sku.mall_inventory.inventory_qty<0
                %p.Red 售磬
              -else
                =l.quantity
            %td.good_price( width="75" align="center")
              =l.price
            %td( width="100" align="center")
              %a.Red
                %b 删除
              %a.Red
                %b 移入收藏夹
        %input#hidden_for_ids{:type =>"hidden"}
        %tr
          %td( height="50")
            %img{:src=>asset_path("test/shopcar_menu.jpg"), :width=>"111", :height=>"22", :border=>"0" }
        %tr
          %td( width="300" align="right" colspan="8" style="font-size:15px;")
            %b 购物车商品总价(不含运费)：
            %strong.Red#total_price
            %b 元
            %br
            %b 选中商品总价(不含运费)：
            %strong.Red#selected_total_price 0
            %b 元
            %hr
        %tr
          %td( width="170" colspan="6" align="right")
            %a#continue_shopping{ :href=>root_path, :title=>"继续购物", :style=>" background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');"}
          %td( width="170" colspan="2" align="right")
            =form_tag('/customers/order_page', method: :GET ,:class=>'go_to_submit' ) do
              %input#selected_ids{:type=>"hidden",:name=>"selected_ids"}
              %input#continue_shopcar{:value=>"去结算", :type=>"button",:style=>" background-image: url('"+asset_path("test/shopcar_bodyBG.gif")+"');",:onclick=>"check_inventory()"}
    .clear

  :javascript

    function check_inventory(){
      var ids= $("#selected_ids").val();
      if(ids==""||ids==NULL){
        alert("请先选择至少一件商品再确认付款!");
        return;
      }
      var RequestUrl="/customers/check_inventory";
      $.ajax({
        url:RequestUrl,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: "ids="+ids,
        success: function(json){
           if(0==json){
             alert("提醒:您选中的商品中有商品缺货。");
             return;
           }else{
            $(".go_to_submit").submit();
           }
        }
      });
    }

    function get_total_price(){
      var total_price=0;
      $(".good_price").each(function(){
        total_price= total_price+ parseInt($(this).text());
      });
      $("#total_price").text(total_price);
    }

    get_total_price();

    function set_checkbox_value(){
      var key=0;
      $(".good_check_box").each(function(){
        var price= parseInt($(".good_price").eq(key).text());
        $(this).attr("value", price);
        key= key+1;
      });
    }

    set_checkbox_value();

    function get_selected_price(){
      var selected_total_price=0;
    }

    function check_checked_box(){
      var ids=[];
      $(".good_check_box").each(function(){
        if( $(this).prop('checked')){
          ids.push( parseInt($(this).next("#hidden_in_checkbox").val()) );
        }
      });
      $("#selected_ids").val(ids);
    }

    $(".good_check_box").click(function(){
      var price= parseInt($(this).attr("value"));
      if( $(this).prop('checked')) {
        $("#selected_total_price").text( parseInt($("#selected_total_price").text())+price);
        var ids= $("#hidden_for_ids").val();
        check_checked_box();
      }else{
        var price_tmp= parseInt($("#selected_total_price").text())-price;
        if( price_tmp<0){
          price_tmp=0;
        }
        $("#selected_total_price").text( price_tmp);
        check_checked_box();
      }
    });

