=render "home/partial/nav"
.cart_box
  .shopping_cart_title
    = drop_bread_crumb
  .shopping_step{:style=> "background-image: url('"+asset_path("test/shopping_cart_r2_c2.jpg")+"');"}
    %ul
      %li.shopping_stepwz16 1.我的购物车
      %li.shopping_stepwz14 2.核对订单信息
      %li.shopping_stepwz14 3.提交订单获取兑换码
      %li.shopping_stepwz14 4.使用兑换码到车行消费
  .step_one_title 已加入购物车宝贝
  .step_one_goods
    %table(width="100%" border="0" cellpadding="5" cellspacing="1")
      %tr
        %td(width="4%" height="30" align="center" valign="middle" bgcolor="#F7F7F7")
          %label
            %input#checkbox_all{:type=>"checkbox"}
        %td(width="7%" height="30" align="center" bgcolor="#F7F7F7") 全选
        %td(width="30%" height="30" align="center" bgcolor="#F7F7F7") 商品
        %td(width="19%" height="30" align="center" bgcolor="#F7F7F7") 服务车行
        %td(width="9%" height="30" align="center" bgcolor="#F7F7F7") 单价
        %td(width="9%" height="30" align="center" bgcolor="#F7F7F7") 数量
        %td(width="7%" height="30" align="center" bgcolor="#F7F7F7") 库存
        %td(width="7%" height="30" align="center" bgcolor="#F7F7F7") 总金额
        %td(width="8%" height="30" align="center" bgcolor="#F7F7F7") 操作
      -@cart_list.each_with_index do |l,index|
        %tr.set_tr_color
          %td(height="100" align="center" valign="middle" )
            - if l.mall_sku.mall_inventory.inventory_qty<0
              %input.good_check_box#good_111( type="checkbox" name="checkbox2" style="display:none;" )
            -else
              %input.good_check_box#good_111( type="checkbox" name="checkbox2" )
            %input#hidden_in_checkbox{:type=>"hidden",:value=>l.id }
          %td(height="100" align="center" valign="middle" )
            %a{:href=>"/goods/#{l.mall_sku.mall_good.id}",:target=>"_blank"}
              .good_pic
                %img{:src=> l.mall_sku.mall_good.logo_url1, :width=>"50" ,:height=>"50"}
          %td(height="100" align="center" valign="middle" )
            .shopping_good_name(style="color:#0066FF")
              %a.good_name_wz{:href=>"/goods/#{l.mall_sku.mall_good.id}",:target=>"_blank"}
                =l.mall_sku.mall_good.title+"-"+l.mall_sku.desc
          %td(height="100" align="center" valign="middle" )
            %a
              =l.mall_sku.mall_good.vendor.name if l.mall_sku.mall_good.vendor
          %td(height="100" align="center" valign="middle" )
            %p.unit_price
              =current_customer.get_price( l.mall_sku)
          %td(height="100" align="center" valign="middle" )
            %table( width="100%" border="0" cellspacing="3")
              %tr
                %td(width="25%" align="center")
                  %img.decrease_btn{:src=> asset_path("test/shopping_cart_r4_c12.jpg"),:width=>"15" ,:height=>"15",:value=>index }
                %td(width="40%" align="center")
                  %p.quantity_number_input
                    =l.quantity
                %td(width="35%" align="center")
                  %img.increase_btn{:src=> asset_path("test/shopping_cart_r4_c15.jpg"),:width=>"15" ,:height=>"15",:value=>index}
          %td{:class=>"max_inventory", :height=>"100", :align=>"center", :valign=>"middle",  :value=> l.mall_sku.mall_inventory.inventory_qty }
            - if l.mall_sku.mall_inventory.inventory_qty<=0
              %p.Red 售磬
            -else
              =l.mall_sku.mall_inventory.inventory_qty
          %td.good_total_wz14.good_price(height="100" align="center" valign="middle" )
            =l.price
          %td( height="100" align="center" valign="middle" )
            %a.del_shopping_car{ :value=> l.id,:style=>"cursor:pointer"} 删除
      %input#hidden_for_ids{:type =>"hidden"}
      %tr
        %td( height="50")
          %a.del_shopping_cars
            %img{:src=>asset_path("test/shopcar_menu.jpg") }
      %tr
        %td( width="300" align="right" colspan="9" style="font-size:15px;")
          %b 购物车商品总价：
          %strong.Red#total_price
          %b 元
          %br
          %b{:style=>"margin-right:42px;"}
            选中商品总价：
          %strong.Red#selected_total_price 0
          %b 元
          %hr
      %tr
        %td( width="170" colspan="7" align="right")
          %a#continue_shopping{ :href=>root_path, :title=>"继续购物",:style=>"margin-top:10px; margin-bottom:10px; "}
            %img{:src=> asset_path("test/shopping_cart_r8_c17.jpg"),:width=>"104", :height=>"36", :border=>"0",:style=>"" }
        %td( width="170" colspan="2" align="right")
          =form_tag('/customers/order_page', method: :POST ,:class=>'go_to_submit' ) do
            %input#selected_ids{:type=>"hidden",:name=>"selected_ids"}
            %input#continue_shopcar{:value=>"", :type=>"button",:style=>" background-image: url('"+asset_path("test/shopping_cart_r8_c19.jpg")+"'); width:135px; height:36px; margin-right:5px;",:onclick=>"check_inventory()"}


  :javascript
    $(".set_tr_color:odd").attr("bgcolor","#F0FAFF");
    $(".set_tr_color:even").attr("bgcolor","#FDF3EA");

    $(".decrease_btn").click(function(){
      var m= $(this).attr("value");
      var n= $(".quantity_number_input").eq(m).text();
      var n_int= parseInt(n);
      if(n_int>1){
        n_int= n_int -1;
      }
      n= n_int.toString()+" ";
      $(".quantity_number_input").eq(m).text( n);
      var unit_price= $(".unit_price").eq(m).text();
      var good_price= parseInt(n) * parseInt(unit_price);
      $(".good_price").eq(m).text( good_price+".0");
      $(".good_check_box").eq(m).attr("value", good_price);
      get_total_price();
      set_choosen_price();
    });

    $(".increase_btn").click(function(){
      var m= $(this).attr("value");
      var n= $(".quantity_number_input").eq(m).text();
      var n_int= parseInt(n);
      var max= parseInt($(".max_inventory").eq(m).text());
      
      if( n_int< max ){
        n_int= n_int +1;
      }
      n= n_int.toString()+" ";
      $(".quantity_number_input").eq(m).text( n);

      var unit_price= $(".unit_price").eq(m).text();
      var good_price= parseInt(n) * parseInt(unit_price);
      $(".good_price").eq(m).text( good_price+".0");
      $(".good_check_box").eq(m).attr("value", good_price);
      get_total_price();
      set_choosen_price();
    });

    $(".del_shopping_car").click(function(){
      if (confirm("注意：删除之后不可找回。确认删除？")){
        var del_obj= $(this);
        var data= $(this).attr("value");
        var requestUrl= "/customers/del_shopping_car";
        $.ajax({
          data:"data="+data,
          url: requestUrl,
          contentType:"application/json, charset:utf-8;",
          dataType: "json",
          success:function(json){
            del_obj.parent().parent().remove();
            get_total_price();
            set_choosen_price();
            alert("删除成功！");
          }
        });
      }else{
        return;
      }
    });

    $(".del_shopping_cars").click(function(){
      if (confirm("注意：删除之后不可找回。确认删除？")){
        check_checked_box();
        var data= $("#selected_ids").attr("value");
        var requestUrl= "/customers/del_shopping_car";
        $.ajax({
          data:"data="+data,
          url: requestUrl,
          contentType:"application/json, charset:utf-8;",
          dataType: "json",
          success:function(json){
            $(".good_check_box:checked").parent().parent().remove();
            get_total_price();
            set_choosen_price();
            alert("删除成功！");
          }
        });
      }else{
        return;
      }
    });

    $("#checkbox_all").click(function(){
      var flag=0;
      $(".good_check_box:visible").each(function(){
        if( !$(this).prop('checked')){
          $(this).click();
          flag=1;
        }
      });
      if( flag==0){
        $(".good_check_box:visible").each(function(){
        $(this).click();
        });
      }
    });

    function check_inventory(){
      check_checked_box();
      var ids= $("#selected_ids").attr("value");
      if(ids==""||ids==null){
        alert("请先选择至少一件商品再确认付款!");
        return;
      }
      var new_quantities=[];
      
      var all_quantity= $(".quantity_number_input").text();

      var all_quantity=[];
      $(".quantity_number_input").each(function(){
        all_quantity.push( $(this).text());
      });
      var RequestUrl="/customers/check_inventory";
      $.ajax({
        url:RequestUrl,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: "ids="+ids+"&all_quantity="+all_quantity,
        success: function(json){
           if(0==json){
             alert("提醒:您选中的商品中有商品缺货。");
             return;
           }else{
            $(".go_to_submit").submit();
           }
        }
      });
    }

    function get_total_price(){
      var total_price=0;
      $(".good_price:visible").each(function(){
        total_price= total_price+ parseInt($(this).text());
      });
      $("#total_price").text(total_price);
    }

    function set_choosen_price(){
      var price=0;
      $(".good_check_box:visible").each(function(){
        if( $(this).prop('checked')){
          price= price+ parseInt($(this).attr("value"));
        }
      });
      $("#selected_total_price").text(price);
    }

    get_total_price();

    function set_checkbox_value(){
      var key=0;
      $(".good_check_box").each(function(){
        var price= parseInt($(".good_price").eq(key).text());
        $(this).attr("value", price);
        key= key+1;
      });
    }

    set_checkbox_value();

    function get_selected_price(){
      var selected_total_price=0;
    }

    function check_checked_box(){
      var ids=[];
      $(".good_check_box").each(function(){
        if( $(this).prop('checked') ){
          ids.push( parseInt($(this).next("#hidden_in_checkbox").val()) );
        }
      });
      $("#selected_ids").val(ids);
    }

    $(".good_check_box").click(function(){
      var price= parseInt($(this).attr("value"));
      if( $(this).prop('checked')) {
        $("#selected_total_price").text( parseInt($("#selected_total_price").text())+price);
        var ids= $("#hidden_for_ids").val();
        check_checked_box();
      }else{
        var price_tmp= parseInt($("#selected_total_price").text())-price;
        if( price_tmp<0){
          price_tmp=0;
        }
        $("#selected_total_price").text( price_tmp);
        check_checked_box();
      }

      var flag=0;
      $(".good_check_box").each( function(){
        if( !$(this).prop('checked') ){
          flag=1;
          return;
        }
      });
      if(flag==0){
        $("#checkbox_all").prop('checked',true);
      }else{
        $("#checkbox_all").attr("checked",false);
      }
    });

