.wrap
  .category_part_01
    .category_left.left
      =render "home/partial/categories"
      =render 'vendors/partial/vendor_recommend'
      =render 'vendors/partial/vendor_ranking'
    .category_postiton_txt.right
      = drop_bread_crumb
    .category_right.right
      =render 'home/partial/goods_hot_rec'
      .class_rule_number
        .class_rule_chose.left{:style=>"margin-left: 25px;"}
          %h4.choseon.left 全部
        .area(style="font-size:12px;")
          =render 'vendors/partial/vendor_areas'
      #ajax_vendor_list
        =render 'vendors/partial/vendors_list'
    .clear
  =render 'home/partial/bottom_ad_without_homepage'

  :javascript
      $(".second_class_link").click(function(){
        $(".second_class_link").css("background-color","white");
        $(".second_class_link").css("color","black");
        $(this).css("background-color","#2e99c7");
        $(this).css("color","white");
        $(this).css("font","bold");
      });



