.wrap
  .category_part_01
    .category_left.left
      =render "home/partial/categories"
      =render 'vendors/partial/vendor_recommend'
      =render 'vendors/partial/vendor_ranking'
    .category_postiton_txt.right
      = drop_bread_crumb
    .category_right.right
      =render 'home/partial/goods_hot_rec'
      .class_rule_number
        .class_rule_icoX.left
          %h4
            %span.icoX01On.left
            %span.icoX02.left
        .class_rule_chose.left
          %h4.choseon.left 默认
          %h4.left 销量
          %h4.left 价格↑
          %h4.left 价格↓
        .area(style="font-size:12px; margin-top:-30px;")
          =render 'vendors/partial/vendor_areas'
      #ajax_vendor_list
        =render 'vendors/partial/vendors_list'
    .clear
  .h_ad{:style=>" padding-top:10px;"}
    %img{:src=>asset_path("test/img-06.jpg"),:width=>"960", :height=>"100", :border=>"0"}

    :javascript
      $(".second_class_link").click(function(){
        $(".second_class_link").css("background-color","white");
        $(".second_class_link").css("color","black");
        $(this).css("background-color","#2e99c7");
        $(this).css("color","white");
        $(this).css("font","bold");
      });



