%script{:src => "http://webapi.amap.com/maps?v=1.2&key=60ae1e52b28be4ec98f9c7c5a77f5c4a", :type => 'text/javascript'}
#map_canvas.map_view

:javascript
  var xian_center = new AMap.LngLat(108.947708, 34.259033);
  map_initialize(xian_center);
  markers(eval(#{@vendors}));