.banner{ :style=>" background-image: url('"+asset_path("test/brandBannerBG.jpg") +"')"}
  .banner_box.m{:style=>" background-image: url('"+asset_path("test/banner.jpg")+"');"}
    .banner_companyinformation
      .banner_information_box{:style=>" background-image: url('"+ asset_path("test/brand.png")+"');"}
        %table{ :width=>"100%", :border=>"0", :cellspacing=>"0", :cellpadding=>"0"}
          %tr
            %td{ :height=>"35", :valign=>"top"}
              %b.Bai{ :style=>"font-size:16px"} 车行信息
          %tr
            %td.Bai{:height=>"25"} 车之翼汽车服务有限公司
          %tr
            %td{:height=>"5"}
          %tr
            %td{:height=>"25"}
              %table{:width=>"100%", :border=>"0", :cellspacing=>"0",:cellpadding=>"0"}
                %tr
                  %td.Bai{ :width=>"40", :height=>"25"} 等级:
                  %td.Bai ★
          %tr
            %td( height="25")
              %table( width="100%" border="0" cellspacing="0" cellpadding="0")
                %tr
                  %td.Bai( width="40" height="30") 地区:
                  %td.Bai 陕西省碑林区
          %tr
            %td( height="25")
              %table( width="100%" border="0" cellspacing="0" cellpadding="0")
                %tr
                  %td.Bai( width="40" height="45" valign="top") 地址:
                  %td.Bai(  valign="top") 陕西省碑林区某某街道35号
          %tr
            %td.Bai( height="25") 服务时间：
          %tr
            %td.Bai( height="20") 周一到周五：8：00~21：00
          %tr
            %td.Bai( height="20") 周六到周日：8：00~21：00
          %tr
            %td.Bai( height="25") 服务项目：
          %tr
            %td.Bai( height="20")
              %B 洗车、打蜡、常规保养
      .information_title
        %b 车行信息
.wrap
  .main_box
    .main_info.left
      .main_info_ico
        %p.main_infoico01.left{:style=>"  background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
        %p.main_infoico02.left{:style=>"  background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
        %p.main_infoico03.left{:style=>"  background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
        %p.main_infoico04.left{:style=>"  background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
      .main_info_map
        %h3
          %b 车行地理位置
        .map_content
          %img{ :src=> asset_path("test/brand_map.jpg"), :width=>"172", :height=>"196"}
      .information_title
        %b 热销产品
      .main_hot_pro
        %ul.part_list
          %li
            .p_img
              %a
              %img{ :src=>asset_path("test/img-13.jpg"),  :width=>"158", :height=>"158",  :border=>"0"}
            .p_title
              %a 米其林 205/55R16【自营】北上广等多省市包快
            .p_price
              %span ￥
              %b 699
              %span .00
      .main_hot_pro
        %ul.part_list
          %li
            .p_img
              %a
              %img{:src=>asset_path("test/img-13.jpg"),:width=>"158", :height=>"158",  :border=>"0"}
            .p_title
              %a 米其林 205/55R16【自营】北上广等多省市包快
            .p_price
              %span ￥
              %b 699
              %span .00
      .main_hot_pro
        %ul.part_list
          %li
            .p_img
              %a
              %img{:src=>asset_path("test/img-13.jpg"),:width=>"158", :height=>"158",  :border=>"0"}
            .p_title
              %a 米其林 205/55R16【自营】北上广等多省市包快
            .p_price
              %span ￥
              %b 699
              %span .00
      .main_hot_pro
        %ul.part_list
          %li
            .p_img
              %a
              %img{:src=>asset_path("test/img-13.jpg"),:width=>"158", :height=>"158",  :border=>"0"}
            .p_title
              %a 米其林 205/55R16【自营】北上广等多省市包快
            .p_price
              %span ￥
              %b 699
              %span .00
      .main_left_ad
        %a
          %img{ :src=>asset_path("test/img-15.jpg"), :width=>"172", :height=>"300", :border=>"0"}
    .main_product.right
      .news_tui
        .part03line
        %h3.part_03hd.Red
        .part_03list
          %ul.part_list
            %li
              .p_img
                %a
                  %img{ :src=>asset_path("test/img-04.jpg"), :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
            %li
              .p_img
                %a
                  %img{ :src=>asset_path("test/img-04.jpg"), :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
            %li
              .p_img
                %a
                  %img{ :src=>asset_path("test/img-04.jpg"), :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
            %li
              .p_img
                %a
                  %img{ :src=>asset_path("test/img-04.jpg"), :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
      .main_class
        .main_class_list
          %label.left 全部分类
          .main_class_nav
            %a 装饰品
            %a 车身装饰条
            %a 车衣
            %a 装饰品
            %a 车身装饰条
            %a 车衣
        .main_class_list
          %label.left 全部分类
          .main_class_nav
            %a 装饰品
            %a 车身装饰条
            %a 车衣
            %a 装饰品
            %a 车身装饰条
            %a 车衣
        .main_class_list
          %label.left 全部分类
          .main_class_nav
            %a 装饰品
            %a 车身装饰条
            %a 车衣
            %a 装饰品
            %a 车身装饰条
            %a 车衣
        .main_class_list
          %label.left 全部分类
          .main_class_nav
            %a 装饰品
            %a 车身装饰条
            %a 车衣
            %a 装饰品
            %a 车身装饰条
            %a 车衣
      .main_num
        .main_num_nav.left
          %a 销量
          %span.Ink &nbsp;&nbsp;|&nbsp;&nbsp;
          %a 新品
          %span.Ink &nbsp;&nbsp;|&nbsp;&nbsp;
          %a 收藏
          %span.Ink &nbsp;&nbsp;|&nbsp;&nbsp;
          %a 价格
        .main_num_pag.right
          .top_page
            .page1
              %a.prev 上一页
              %a.next 下一页
      .main_company_products
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"),:border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"),:border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"),:border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"),:border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"),:border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .main_products_li.left
          .p_img
            %a
              %img{:src=>asset_path("test/img-04.jpg"),:border=>"0"}
          .p_title
            %a 米其林 205/55R16【自营】北上广等多省市包快
          .p_price
            %span ￥
            %b 699
            %span .00
          .p_price
            %a#p_price_menu 立即购买
        .clear
        .pagebar
          .page-bottom.right
            %span.page_start
            %a.page_curOn 1
            %a.page_cur 2
            %a.page_cur 3
            %a.page_cur 4
            %a.page_cur 5
            %span.page_omit ...
            %a.next 下一页
          .page-bottom.right{:style=>" display:none;"}
            %a.back 上一页
            %span.page_omit ...
            %a.page_cur 96
            %a.page_cur 97
            %a.page_cur 98
            %a.page_cur 99
            %a.page_curOn 100
            %span.page_startR
          .page_txt.right
            本次搜索结果共
            %b.Bule 100
            页
    .clear
  .clear
  .h_ad{:style=>"padding-top:10px;"}
    %img{:src=>asset_path("test/img-06.jpg"), :width=>"960", :height=>"100", :border=>"0"}
