.wrap
  .category_part_01
    .category_left.left
      .category_shop_class.left
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
        .shop_classbox
          %h3.shop_stornav
            .shop_stor
              %b 美容装潢
            .stornav_li
              %a 装饰品
              %a 车身装饰条
              %a 车衣
          .shop_coursestor{ :style=>"display:none;"}
            %ul
              %li
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
                %a 洗车打蜡
                %a 镀膜
                %a 钣金喷漆
      .main_category_hotshop
        %h3
          %b 活动推荐
        .main_category_pro
          %ul.part_list
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购
            %li
              .p_img
                %a
                %img{:src=>asset_path("test/img-13.jpg"), :width=>"158", :height=>"158",  :border=>"0"}
              .p_title
                %a 米其林 205/55R16【自营】北上广等多省市包快
              .p_price
                %span ￥
                %b 699
                %span .00
              .p_pricemenu
                %a#p_pricemenu 立即选购

      .main_category_ranking
        %h3.Red
          %b 销量排行
        .main_category_proranking
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 1
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 2
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 3
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 4
          .ranking_list
            %p.left
              %img{ :src=>asset_path("test/img-19.jpg"), :width=>"60", :height=>"60"}
            %h4.left
              %a 马牌轮胎 205/55R16
              %s ￥495.00
            %span 5
    .category_postiton_txt.right
      %a 首页
      %span &nbsp;&nbsp;>&nbsp;&nbsp;
      %a 导航商品
    .category_right.right
      .categroy_hottui
        %h3
          %b 热门产品推荐
        .categroy_hottui_con
          .categroy_hottui_list.left
            %h5.left
              %img{:src=>asset_path("test/img-20.jpg"),:width=>"100", :height=>"115"}
            %h4.left
              %div
                %a 马牌轮胎205/55R16
              %s ￥495.00
              %a#categroy_menu 加入购物车
          .categroy_hottui_list.left
            %h5.left
              %img{:src=>asset_path("test/img-20.jpg"),:width=>"100", :height=>"115"}
            %h4.left
              %div
                %a 马牌轮胎205/55R16
              %s ￥495.00
              %a#categroy_menu 加入购物车
          .categroy_hottui_list.left
            %h5.left
              %img{:src=>asset_path("test/img-20.jpg"),:width=>"100", :height=>"115"}
            %h4.left
              %div
                %a 马牌轮胎205/55R16
              %s ￥495.00
              %a#categroy_menu 加入购物车
      .class_rule_number
        .class_rule_icoX.left
          %h4
            %span.icoX01On.left
            %span.icoX02.left
        .class_rule_chose.left
          %h4.choseon.left 默认
          %h4.left 销量
          %h4.left 价格↑
          %h4.left 价格↓
        .area(style="font-size:12px; margin-top:-30px;")
          =link_to '全部', { :controller=>"vendors",:action=>"vendor_search", :id=>0, :remote=>true}
          &nbsp;|&nbsp;
          =link_to '城东', { :controller=>"vendors",:action=>"vendor_search", :id=>1, :remote=>true}
          &nbsp;|&nbsp;
          =link_to '城南', { :controller=>"vendors",:action=>"vendor_search", :id=>2, :remote=>true}
          &nbsp;|&nbsp;
          =link_to '城西', { :controller=>"vendors",:action=>"vendor_search", :id=>3, :remote=>true}
          &nbsp;|&nbsp;
          =link_to '城北', { :controller=>"vendors",:action=>"vendor_search", :id=>4, :remote=>true}
          &nbsp;|&nbsp;
          =link_to '城中', { :controller=>"vendors",:action=>"vendor_search", :id=>5, :remote=>true}
          &nbsp;|&nbsp;
          =link_to '高新', { :controller=>"vendors",:action=>"vendor_search", :id=>6, :remote=>true}
      #ajax_vendor_list
        =render 'vendors/partial/vendors_list'
  .clear
  =render 'home/partial/bottom_ad_without_homepage'

  :javascript
      $(".second_class_link").click(function(){
        $(".second_class_link").css("background-color","");
        $(".second_class_link").css("color","");
        $(this).css("background-color","#2e99c7");
        $(this).css("color","white");
        $(this).css("font","bold");
      });



