%div{:class=>"my_center_box"}
  %div{:class=>"shopping_cart_title"}
    %a{:href=>"/",:target=>"_blank"}享车网
    &gt;
    %a{:href=>"/center/account_info",:target=>"_blank"}个人中心 
    &gt; 
    %strong 洗车记录
  %div{:class=>"my_center_left"}
    = render 'center/menu.html'


  %div{:class=>"my_center_right"}
    %div{:class=>"my_center_details"}
      %div{:class=>"my_center_title"}车行洗车记录
      %table{:width=>"770px",:border=>"0px",:align=>"center",:cellpadding=>"0px",:cellspacing=>"1px",:bgcolor=>"#CCCCCC"}
        %tr
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}序号
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}服务项目
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}车行
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}消费时间
        - @i = 0;
        - @consumption_records.each do |consumption_record|
          - @i=@i+1
          %tr
            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=@i

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"} 普通洗车

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=consumption_record.vendor.name

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=consumption_record.created_at.strftime("%Y-%m-%d %H:%M:%S")