%div{:class=>"my_center_box"}
  %div{:class=>"shopping_cart_title"}
    %a{:href=>"/",:target=>"_blank"}享车网
    &gt;
    %a{:href=>"/center/account_info",:target=>"_blank"}个人中心 
    &gt; 
    %strong 消费记录
  %div{:class=>"my_center_left"}
    = render 'center/menu.html'

  %div{:class=>"my_center_right"}
    %div{:class=>"my_center_details"}
      %div{:class=>"my_center_title"}车行消费记录
      %table{:width=>"770px",:border=>"0px",:align=>"center",:cellpadding=>"0px",:cellspacing=>"1px",:bgcolor=>"#CCCCCC"}
        %tr
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}序号
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}服务项目
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}车行
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}消费金额
          %td{:height=>"40px",:align=>"center",:valign=>"middle", :bgcolor=>"#FDF3EA"}消费时间
        - @i = 0;
        - @extra_consumption_record.each do |ecr|
          - @i=@i+1
          %tr
            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=@i

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=ecr.extra_service_detail.extra_service_type.content+"-"+ecr.extra_service_detail.content

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=ecr.vendor.name

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}￥#{ecr.price}

            %td{:height=>"35px",:align=>"center",:valign=>"middle", :bgcolor=>"#FFFFFF"}=ecr.created_at.strftime("%Y-%m-%d %H:%M:%S")
       
        