<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    = stylesheet_link_tag    "application", :media=>"all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = set_title_tag

  %body
    =render "home/partial/top"
    =render "home/partial/header"
    =yield
    =render "home/partial/footer"
    =render "home/partial/return_top"
