!!!
%html
  %head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = set_title_tag

  %body
    =render "home/partial/top"
    =render "home/partial/header"
    =render "home/partial/nav"
    =yield
    =render "home/partial/footer"
    =render "home/partial/return_top"
